<% i = 0 %>
<% if @categories.size > 0 %>
<table cellspacing="10">
  <tbody>
    <tr>
      <% for category in @categories %>
        <% if i == 4 %>
          <tr>
        <% end %>
        <% if category.items.size > 0 and not category.items.first.main_photo.nil? %>
          <td style="margin-right: 10px; width: 150px;">
		<div>
			  <center>
			  <%= link_to "#{image_tag(category.items.first.main_photo.image.url(:medium))}", 
			      :controller => :main,
			      :action => :product,
			      :id => category.id %>
			  </center>
			  <center style="height: 50px">
			    <a href="<%= url_for :controller => :main,
			      :action => :product,
			      :id => category.id %>" class="bottom_title"><%= category.title %></a>
			  </center>
		</div>
          </td>
          <% end %>
        <% if i == 3 %>
            </tr>
            <% i = -1 %>
        <% end %>
          <% i += 1 %>
      <% end %>
  </tbody>
</table>
<% else %>
  Каталог пуст.
<% end %>
