<% content_for :top_menu do %>
  <%= link_to "Добавить", new_banner_path %>
  <%= link_to "Назад", :controller => :admin, :action => :index %>
<% end %>

<table>
<tbody>
  <% for banner in @banners %>
  <tr>
    <td><%= image_tag(banner.image.url) %></td>
    <td width="10%"><%= link_to "Удалить", banner, :confirm => "Вы действительно хотите удалить?", :method => :delete %></td>
  <% end %>
  </tr>
</tbody>
</table>
