<% content_for :top_menu do %>
  <%= render :partial => "library_articles/templates/top_menu" %>
  <%= link_to "Назад", library_articles_path %>
<% end %>

<table>
  <tbody>
    <%= render :partial => "library_articles/templates/library", :object => @library_article %>
  </tbody>
</table>

